/*--INICIO Styles de Combos y DropDownList del Sitio--*/

@import url("chosen.css"); /* Styles COMBOS */

select.customSelect {
    width: 220px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    line-height: 30px;
}
/*--FIN Styles de Combos y DropDownList del Sitio--*/

/*--INICIO Styles de Mensajes de error--*/
.custom-error {
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid;
    border-radius: 5px;
    margin: 2px 0;
    padding: 5px 5px 5px 5px;
    position: absolute;
}

.info, .success, .warning, .error {
    font-size: 13px;
    margin: 10px 0;
    padding: 15px 10px 15px 70px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-image: url('../images/icons/info.png');
}

.success {
    color: #4F8A10;
    background-image: url('../images/icons/success.png');
}

.warning {
    color: #9F6000;
    background-image: url('../images/icons/warning.png');
}

.error {
    color: #D8000C;
    background-image: url('../images/icons/error.png');
}
/*--FIN Styles de Mensajes de error--*/
